@model IEnumerable<MVC_Forums.Models.Thread>

@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forum.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Forum.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThreadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThreadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThreadId })
        </td>
    </tr>
}

</table>
